﻿
@{

}
<div class="container container-login">
    <div class="d-flex flex-row mb-2 container-row-one-login">
        <button type="button" class="btn btn-primary me-auto p-2 btn-login-fa">Login with Facebook</button>
        <button type="button" class="btn btn-secondary p-2 btn-login-gg">Login with Google</button>
    </div>
</div>
