html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#formSearchingFilms{
    padding-top:8px
}
#txtSearchingFilm {
    height: 34px;
}

#btnSearching {
    height: 35px;
    margin-bottom: 5px;
    width: 50px;
}
.container-right {
    row-gap: 10px;
    list-style-type:none;
}
.container-right li{
    text-align:center;
}
.items-movies {
    border: 1px solid grey;
}
.items-movies p{
    color: cornflowerblue;
    font-weight:bolder;
}
.items-movies ul{
    list-style-type: none;
}
.items-movies img {
    width:100%;
    height: 210px;
}
.items-movies button{
    margin: 12px;
}
.items-category li{
    color:cornflowerblue;
}
.container-login{
    text-align:center;
}
.container-row-one-login {
    width: 76%;
    margin:auto;
}
.btn-login-fa {
    width: 29%;
}
.btn-login-gg{
    width: 29%;
}