﻿
@{
    var genres = ViewData["genres"] as List<Genre>;
    var movies = ViewData["movies"] as List<Movie>;
}

<div class="d-flex flex-row mb-3">
    <div class="p-2 items-category">
        <h3>Thể loại</h3>
        <ul>
           @if(genres != null)
           @foreach(var item in genres){
               <li>
                    @Html.DisplayFor(modelItem => item.Description)
               </li>
           }
        </ul>
    </div>
    <div class="p-2 container">
        <ul class="row container-right">
            @if(movies != null)
            @foreach(var items in movies){
                <li class="col-3">
                    <div class="items-movies">
                            <img src="~/img/@items.Image" alt="image" />
                            <p>@items.Title</p>
                            <ul>
                                <li>Năm: @items.Year</li>
                                <li>Loại: @items.Genre?.Description</li>
                                <li>
                                    Điểm: @foreach (var mark in items.Rates)
                                    {
                                        @mark.NumericRating
                                    }
                                </li>
                            </ul>
                                <button type="button" class="btn btn-primary" asp-action="" asp-controller="";">Đánh giá</button>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
